@font-face {
                                font-family: Merriweather;
                                font-display: swap;
                                src: url("../fonts/Merriweather-Black.woff2") format("woff2"), url("../fonts/Merriweather-Black.woff1") format("woff1");
                                font-weight: 900;
                                font-style: normal;
                            }
@font-face {
                                font-family: Merriweather;
                                font-display: swap;
                                src: url("../fonts/Merriweather-BlackItalic.woff2") format("woff2"), url("../fonts/Merriweather-BlackItalic.woff1") format("woff1");
                                font-weight: 400;
                                font-style: normal;
                            }
@font-face {
                                font-family: Merriweather;
                                font-display: swap;
                                src: url("../fonts/Merriweather-Bold.woff2") format("woff2"), url("../fonts/Merriweather-Bold.woff1") format("woff1");
                                font-weight: 700;
                                font-style: normal;
                            }
@font-face {
                                font-family: Merriweather;
                                font-display: swap;
                                src: url("../fonts/Merriweather-BoldItalic.woff2") format("woff2"), url("../fonts/Merriweather-BoldItalic.woff1") format("woff1");
                                font-weight: 400;
                                font-style: normal;
                            }
@font-face {
                                font-family: Merriweather;
                                font-display: swap;
                                src: url("../fonts/Merriweather-Light.woff2") format("woff2"), url("../fonts/Merriweather-Light.woff1") format("woff1");
                                font-weight: 300;
                                font-style: normal;
                            }
@font-face {
                                font-family: Merriweather;
                                font-display: swap;
                                src: url("../fonts/Merriweather-Italic.woff2") format("woff2"), url("../fonts/Merriweather-Italic.woff1") format("woff1");
                                font-weight: 400;
                                font-style: normal;
                            }
@font-face {
                                font-family: Merriweather;
                                font-display: swap;
                                src: url("../fonts/Merriweather-Regular.woff2") format("woff2"), url("../fonts/Merriweather-Regular.woff1") format("woff1");
                                font-weight: 400;
                                font-style: normal;
                            }
@font-face {
                                font-family: Merriweather;
                                font-display: swap;
                                src: url("../fonts/Merriweather-LightItalic.woff2") format("woff2"), url("../fonts/Merriweather-LightItalic.woff1") format("woff1");
                                font-weight: 400;
                                font-style: normal;
                            }
@font-face {
                                font-family: OpenSans;
                                font-display: swap;
                                src: url("../fonts/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-BoldItalic.woff1") format("woff1");
                                font-weight: 400;
                                font-style: normal;
                            }
@font-face {
                                font-family: OpenSans;
                                font-display: swap;
                                src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff1") format("woff1");
                                font-weight: 700;
                                font-style: normal;
                            }
@font-face {
                                font-family: OpenSans;
                                font-display: swap;
                                src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff1") format("woff1");
                                font-weight: 800;
                                font-style: normal;
                            }
@font-face {
                                font-family: OpenSans;
                                font-display: swap;
                                src: url("../fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBoldItalic.woff1") format("woff1");
                                font-weight: 400;
                                font-style: normal;
                            }
@font-face {
                                font-family: OpenSans;
                                font-display: swap;
                                src: url("../fonts/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans-Italic.woff1") format("woff1");
                                font-weight: 400;
                                font-style: normal;
                            }
@font-face {
                                font-family: OpenSans;
                                font-display: swap;
                                src: url("../fonts/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/OpenSans-LightItalic.woff1") format("woff1");
                                font-weight: 400;
                                font-style: normal;
                            }
@font-face {
                                font-family: OpenSans;
                                font-display: swap;
                                src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff1") format("woff1");
                                font-weight: 400;
                                font-style: normal;
                            }
@font-face {
                                font-family: OpenSans;
                                font-display: swap;
                                src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff1") format("woff1");
                                font-weight: 600;
                                font-style: normal;
                            }
@font-face {
                                font-family: OpenSansCondensed;
                                font-display: swap;
                                src: url("../fonts/OpenSansCondensed-Light.woff2") format("woff2"), url("../fonts/OpenSansCondensed-Light.woff1") format("woff1");
                                font-weight: 300;
                                font-style: normal;
                            }
@font-face {
                                font-family: OpenSansCondensed;
                                font-display: swap;
                                src: url("../fonts/OpenSansCondensed-LightItalic.woff2") format("woff2"), url("../fonts/OpenSansCondensed-LightItalic.woff1") format("woff1");
                                font-weight: 400;
                                font-style: normal;
                            }
@font-face {
                                font-family: OpenSans;
                                font-display: swap;
                                src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff1") format("woff1");
                                font-weight: 300;
                                font-style: normal;
                            }
@font-face {
                                font-family: OpenSansCondensed;
                                font-display: swap;
                                src: url("../fonts/OpenSansCondensed-Bold.woff2") format("woff2"), url("../fonts/OpenSansCondensed-Bold.woff1") format("woff1");
                                font-weight: 700;
                                font-style: normal;
                            }
@font-face {
                                font-family: OpenSans;
                                font-display: swap;
                                src: url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-SemiBoldItalic.woff1") format("woff1");
                                font-weight: 400;
                                font-style: normal;
                            }
@font-face {
                                font-family: RuslanDisplay;
                                font-display: swap;
                                src: url("../fonts/RuslanDisplay-Regular.woff2") format("woff2"), url("../fonts/RuslanDisplay-Regular.woff1") format("woff1");
                                font-weight: 400;
                                font-style: normal;
                            }
