.title {
  font-family: 'Cormorant Infant';
  font-weight: 700;
  
  &--h1 {
    font-size: 72px;
    line-height: 94px;
  }

  &--h2 {
    font-size: 45px;
    line-height: 54px;
  }

  &--h3 {
    font-size: 40px;
    line-height: 48px;
  }

  &--h4 {
    font-size: 16px;
    line-height: 20px;
  }
}